@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f7fe;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    font-family: 'Style Script', cursive;
    color: #b1905e;
    margin-top: 80px;
}

.accordion {
    width: 50%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #fff;
    color: black;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.accordion-item-header::after {
    content: '+';
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: '-';
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-content {
    padding: 1rem;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
}